<%- include('../../shared/email/header.ejs') %>

<p>
  You have requested a password reset. Please proceed with the following:
</p>

<p>
  <button>
    <a href="<%= continueUrl %>">Reset password</a>
  </button>
</p>

<br />

<%- include('../../shared/email/footer.ejs') %>
