<%- include('../../shared/email/header')  %>

<p>
  Welcome to Hello World. Please validate your email address:
</p>

<p>
  <button>
    <a href="<%= continueUrl %>">Validate account</a>
  </button>
</p>

<br />

<%- include('../../shared/email/footer')  %>
